USE [master]
GO
/****** Object:  Database [LiveJourneysDb]    Script Date: 3/10/2018 11:09:21 AM ******/
CREATE DATABASE [LiveJourneysDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiveJourneysDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LiveJourneysDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiveJourneysDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LiveJourneysDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiveJourneysDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LiveJourneysDb]
GO
USE [LiveJourneysDb]
GO
/****** Object:  Table [dbo].[Line]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Line] PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[StationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationLine]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationLine](
	[LineId] [int] NOT NULL,
	[StationId] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
 CONSTRAINT [PK_StationLine] PRIMARY KEY CLUSTERED 
(
	[LineId] ASC,
	[StationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StationMapping]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationMapping](
	[FromStaionId] [int] NOT NULL,
	[ToStationId] [int] NOT NULL,
	[LineId] [int] NOT NULL,
	[Distance] [float] NOT NULL,
	[isDeleay] [bit] NULL,
 CONSTRAINT [PK_StationMapping] PRIMARY KEY CLUSTERED 
(
	[FromStaionId] ASC,
	[ToStationId] ASC,
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 3/10/2018 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StationMapping] ADD  CONSTRAINT [DF_StationMapping_isDeleay]  DEFAULT ((0)) FOR [isDeleay]
GO
ALTER TABLE [dbo].[StationLine]  WITH CHECK ADD  CONSTRAINT [FK_StationLine_Line] FOREIGN KEY([LineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[StationLine] CHECK CONSTRAINT [FK_StationLine_Line]
GO
ALTER TABLE [dbo].[StationLine]  WITH CHECK ADD  CONSTRAINT [FK_StationLine_Station] FOREIGN KEY([StationId])
REFERENCES [dbo].[Station] ([StationId])
GO
ALTER TABLE [dbo].[StationLine] CHECK CONSTRAINT [FK_StationLine_Station]
GO
ALTER TABLE [dbo].[StationMapping]  WITH CHECK ADD  CONSTRAINT [FK_StationMapping_FromStation] FOREIGN KEY([FromStaionId])
REFERENCES [dbo].[Station] ([StationId])
GO
ALTER TABLE [dbo].[StationMapping] CHECK CONSTRAINT [FK_StationMapping_FromStation]
GO
ALTER TABLE [dbo].[StationMapping]  WITH CHECK ADD  CONSTRAINT [FK_StationMapping_Line] FOREIGN KEY([LineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[StationMapping] CHECK CONSTRAINT [FK_StationMapping_Line]
GO
ALTER TABLE [dbo].[StationMapping]  WITH CHECK ADD  CONSTRAINT [FK_StationMapping_ToStation] FOREIGN KEY([ToStationId])
REFERENCES [dbo].[Station] ([StationId])
GO
ALTER TABLE [dbo].[StationMapping] CHECK CONSTRAINT [FK_StationMapping_ToStation]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[UserType] ([UserTypeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
USE [master]
GO
