
@{
    ViewBag.Title = "RepresentStations";
}

<h2>Represent Stations</h2>
<h4>Select Start Station</h4>
@Html.DropDownList("Mobiledropdown3", new List<SelectListItem>
{
new SelectListItem { Text = "Station A", Value = "1", Selected=true},
new SelectListItem { Text = "Station B", Value = "2"},
new SelectListItem { Text = "Station C", Value = "3"}
}, "Select Mobile")


<h4>Select End Station</h4>
@Html.DropDownList("Mobiledropdown3", new List<SelectListItem>
{
new SelectListItem { Text = "Station A", Value = "1", Selected=true},
new SelectListItem { Text = "Station B", Value = "2"},
new SelectListItem { Text = "Station C", Value = "3"}
}, "Select Mobile")




<!DOCTYPE html>
<html>
<head>
    <style>
        <!-- .verticalLine { -->
            <!-- border-left: thick solid #ff0000; -->
            <!--
        }
        -->
        .hrVerticile {
            transform: rotate(90deg);
            border-style: solid;
            width: 30px;
            margin-left: auto;
            margin-right: auto;
            height: 10px;
            background-color: green;
            color: #f3f6db;
            border: 0 none;
        }
    </style>
</head>
<body>
    <h3 align="center">Start Journey</h3>
    <div style="width: 100%; height: 20px; border-bottom: 0px solid black;
         text-align: center" align="center">
        <span style="font-size: 20px; background-color: #F3F5F6; padding: 0 20px;">
            Station 1
        </span>
    </div>

    <hr align="center" width="auto" class="hrVerticile">

    <div class="verticalLine" align="center">
        50 Km
    </div>

    <hr align="center" width="auto" class="hrVerticile">

    <div style="width: 100%; height: 20px; border-bottom: 0px solid black;
         text-align: center" align="center">
        <span style="font-size: 20px; background-color: #F3F5F6; padding: 0 20px;">
            Station 2
        </span>
    </div>

    <h3 align="center">End Journey</h3>

</body>
</html>